USE [master]
GO
/****** Object:  Database [C:\USERS\HP\SOURCE\REPOS\STUDENT ATTENDENCE\STUDENT ATTENDENCE\ATTEND.MDF]    Script Date: 26-03-2020 15:22:16 ******/
CREATE DATABASE [C:\USERS\HP\SOURCE\REPOS\STUDENT ATTENDENCE\STUDENT ATTENDENCE\ATTEND.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'attend', FILENAME = N'C:\Users\hp\source\repos\student attendence\student attendence\attend.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'attend_log', FILENAME = N'C:\Users\hp\source\repos\student attendence\student attendence\attend_log.ldf' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\HP\SOURCE\REPOS\STUDENT ATTENDENCE\STUDENT ATTENDENCE\ATTEND.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\HP\SOURCE\REPOS\STUDENT ATTENDENCE\STUDENT ATTENDENCE\ATTEND.MDF]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 26-03-2020 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[tid] [nvarchar](50) NULL,
	[class] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[RN01] [nvarchar](50) NULL,
	[RN02] [nvarchar](50) NULL,
	[RN03] [nvarchar](50) NULL,
	[RN04] [nvarchar](50) NULL,
	[RN05] [nvarchar](50) NULL,
	[RN06] [nvarchar](50) NULL,
	[RN07] [nvarchar](50) NULL,
	[RN08] [nvarchar](50) NULL,
	[RN09] [nvarchar](50) NULL,
	[RN10] [nvarchar](50) NULL,
	[RN11] [nvarchar](50) NULL,
	[RN12] [nvarchar](50) NULL,
	[RN13] [nvarchar](50) NULL,
	[RN14] [nvarchar](50) NULL,
	[RN15] [nvarchar](50) NULL,
	[RN16] [nvarchar](50) NULL,
	[RN17] [nvarchar](50) NULL,
	[RN18] [nvarchar](50) NULL,
	[RN19] [nvarchar](50) NULL,
	[RN20] [nvarchar](50) NULL,
	[RN21] [nvarchar](50) NULL,
	[RN22] [nvarchar](50) NULL,
	[RN23] [nvarchar](50) NULL,
	[RN24] [nvarchar](50) NULL,
	[RN25] [nvarchar](50) NULL,
	[RN26] [nvarchar](50) NULL,
	[RN27] [nvarchar](50) NULL,
	[RN28] [nvarchar](50) NULL,
	[RN29] [nvarchar](50) NULL,
	[RN30] [nvarchar](50) NULL,
	[RN31] [nvarchar](50) NULL,
	[RN32] [nvarchar](50) NULL,
	[RN33] [nvarchar](50) NULL,
	[RN34] [nvarchar](50) NULL,
	[RN35] [nvarchar](50) NULL,
	[RN36] [nvarchar](50) NULL,
	[RN37] [nvarchar](50) NULL,
	[RN38] [nvarchar](50) NULL,
	[RN39] [nvarchar](50) NULL,
	[RN40] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 26-03-2020 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[gen] [nvarchar](50) NULL,
	[contact] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[addr] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[class] [nvarchar](50) NULL,
	[Rno] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 26-03-2020 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[Id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[gen] [nvarchar](50) NULL,
	[contact] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[addr] [nvarchar](50) NULL,
	[subject] [nvarchar](50) NULL,
	[age] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[salary] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[student] ([Id], [name], [gen], [contact], [email], [addr], [dob], [class], [Rno], [pass]) VALUES (1, N'BN', N'Male', N'213', N'13', N'gyh', N'01-03-2020', N'First Year', N'01', N'n')
INSERT [dbo].[student] ([Id], [name], [gen], [contact], [email], [addr], [dob], [class], [Rno], [pass]) VALUES (2, N'BN', N'Male', N'213', N'13', N'gyh', N'01-03-2020', N'First Year', N'02', N'n')
INSERT [dbo].[student] ([Id], [name], [gen], [contact], [email], [addr], [dob], [class], [Rno], [pass]) VALUES (3, N'BN', N'Male', N'213', N'13', N'gyh', N'01-03-2020', N'Second Year', N'01', N'n')
INSERT [dbo].[teacher] ([Id], [name], [gen], [contact], [email], [addr], [subject], [age], [pass], [salary]) VALUES (1, N'n', N'Male', N'545', N'12@gmIL.COM', N'F', N'SDF', N'34', N'n', N'123')
INSERT [dbo].[teacher] ([Id], [name], [gen], [contact], [email], [addr], [subject], [age], [pass], [salary]) VALUES (2, N'n', N'Male', N'545', N'12@gmIL.COM', N'F', N'SDF', N'34', N'n', N'123')
USE [master]
GO
